.todo {
  align-items: center;
  background: linear-gradient(180deg, mediumorchid, blueviolet);
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  &:not(:last-child) {
    // border-bottom: 1px solid lightgray;
  }

  input {
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
}
